
<style type="text/css">
    a {
        text-decoration: none;
        color: ghostwhite;
    }
    a:hover{
        color:ghostwhite;
    }
    .menu{
        float:left;
        width:20%;
        height:950px;
        padding:15px;
        background-color:dimgrey;

    }
    .menu ul li{
        list-style:none;
        color:ghostwhite;
        line-height:45px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }
    .icon {
        width: 15px;
        height: 15px;
        margin-left:10px;
        margin-right:10px;
    }
</style>
<div class="menu">
    <br /><br /><br />
    <h4 style="margin-left:15px;">MENÜ</h4>
    <br />
    <ul>
        <li>
            <img class="icon" src="~/Content/PikPng.com_home-icon-png_537127.png" />
            <a href="https://localhost:44303">Anasayfa</a>
        </li>
        <li>
            <img class="icon" src="~/Content/PikPng.com_post-card-png_4229123.png" />
        <a href="https://localhost:44303/ana/duyuruyuekle">Yeni Duyuru</a></li>
        <li>
            <img class="icon" src="~/Content/PikPng.com_exit-door-png_3277754.png" />
            <a href="https://localhost:44303/login">Çıkış</a>
        </li>
    </ul>
</div>
